#home {
	background: url('imgs/bg.png');
	background-size: cover;
	height: 100vh;
}

.map-container {
    height: 670px;
    width: calc(100% - 24px);
    padding: 24px 12px;
}

.mapboxgl-canvas {
    border-radius: 8px;
}

.mapboxgl-marker {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border:1px solid gray;
    background-color:lightblue;
}