#wrapper {
	background: url('imgs/loginbg.png');
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#box {
	background: rgba(255, 255, 255, 0.4);
	border-radius: 16px;
	width: 170px;
	height: 170px;
	padding: 8px;
	display: flex;
}

#logo {
	max-width: 100%;
}


#logofull {
    max-width: calc(100%);
    padding: 80px 50px;
}

hr.divider {
	margin: 32px 0;
	background: #AA2F2F;
}

a.link {
	color: #007CA4;
	text-align: center;
	width: 100%;
	display: block;
	margin-top: 16px;
}

.tblogo {
  max-height: 56px;
  position: absolute;
  right: 10px;
  padding: 5px;
}

.tb {
  background-color: rgba(255, 0, 0, 0.5) !important;
}

.sidebar {
  width: 200px;
  padding: 0 !important;
}