#login {
    background: url('imgs/loginbg.png');
    background-size: cover;
    height: 100vh;
}

#login-card {
    background: rgba(255, 255, 255, 0.4);
	border-radius: 16px;
    margin: 0 16px;
    padding: 30px;
}

.MuiTextField-root {
    width: 100%;
}