#notification {
	background: url('imgs/bg.png');
	background-size: cover;
	height: 100vh;
	background-position: 35%;
}

.partiecards {
	width: calc(100% - 24px);
	margin: 12px;
	border-radius: 35px;
}

.img-container {
	height: 150px;
	width: 100%;
}

.createprty {
	width: calc(100% - 24px);
	margin: 80px 12px !important;

}
