#plantparty {
    background: url('imgs/bg.png');
    background-size: cover;
    height: 100vh;
    background-position: 35%;
}

.partyCard {
    background: rgba(255, 255, 255, 0.4);
	border-radius: 16px;
    margin: 20px 16px;
    padding: 30px;
    height: 70%;
}

.partyoptions {
    width: 100%;
    margin-top: 20px;
}

.map-container2 {
    height: 420px;
    width: calc(100% - 12px);
    padding: 24px 6px;
}

.joinparty {
    width: calc(100% - 24px);
	margin: 40px 12px !important;
}