#profile {
	background: url('imgs/bg.png');
	background-size: cover;
	background-position: 70%;
	height: 100vh;
	
}

#profile-card {
    background: rgba(255, 255, 255, 0.4);
	border-radius: 16px;
    margin: 15px 16px;
    padding: 30px;
	height: 70%;
	justify-content: center;
	text-align: center;
}

.redeem {
	width: calc(100% - 24px);
	margin: 30px 12px !important;

}