#store {
    background: url('imgs/bg.png');
    background-size: cover;
    height: 100vh;
    background-position: 95%;
    overflow: scroll;
}

.storeCards {
    background: rgba(255, 255, 255, 0.4);
	border-radius: 16px;
    margin: 20px 16px;
    padding: 5px;
}

.img-nuter {
	height: 150px;
	width: 100%;
    border-radius: 30px;
}
