#store {
    background: url('imgs/bg.png');
    background-size: cover;
    height: 100vh;
    background-position: 95%;
    overflow: scroll;
}

.storeCards {
    background-color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.4);
	border-radius: 16px;
    margin: 20px 16px;
    padding: 5px;
}

.img-nuter {
	height: 150px;
	width: 90%;
    border-radius: 10px;
    translate: 5%;
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
}
